<form action="#" method="post" class="login">
  <div class="imgcontainer">
    <img src="/img/users/default.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <h3> Log in</h3>
    <label for="email"><b>Email address</b></label>
    <input type="email" placeholder='you@example.com' id="email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder='••••••••' name="psw" id="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container">
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>